html
	head
		title=('COUP - ' + name)
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/redirect.js')
		script(src='/game/main.js')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel='stylesheet', href='/style.css')
		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		div.container
			input(type='hidden', value=id)#game-id
			h3.text-center#title=('COUP - ' + name)
			div.row.admin
				br
				div.col-md-2(style='font-size: 16pt;')
					| Admin Controls
				div.col-md-1
					button.btn.btn-default#reset Reset
				div.col-md-3
					div.input-group#kick
						input(type="text").form-control
						span.input-group-btn
							button.btn.btn-default(type="button")
								| Kick
			hr
			table.table.table-condensed
				thead
					tr
						th Player Name
						th Cash
						th Cards in Hand
						th Discard
				tbody#players
			hr
			div.row.text-center
				div.col-md-4
					h3 Cash
					button.btn.btn-default.cash-add.price-left(value='-7') -7
					button.btn.btn-default.cash-add(value='-3') -3
					button.btn.btn-default.cash-add(value='-1') -1
					button.btn.btn-default.cash-add.price-middle(value='1') +1
					button.btn.btn-default.cash-add(value='2') +2
					button.btn.btn-default.cash-add(value='3') +3
				div.col-md-8.bordered-left
					h3 Hand
					div.col-md-2
						button.btn.btn-default#draw Draw
					div.col-md-10
						div#hand
			hr
			h3 Reference
			table.table.table-condensed
				thead
					tr
						th Character
						th Action
						th Effect
						th Counter
				tbody
					tr.basic-action
						td
						td Income
						td +1 Cash
						td
					tr.basic-action
						td
						td Foreign Aid
						td +2 Cash
						td
					tr.basic-action
						td
						td Coup
						td -7 Cash, force a player to discard
						td
					tr.card-type-1.special-action
						td Ambassador
						td Exchange
						td Draw 2, then shuffle 2
						td Block: Steal
					tr.card-type-2.special-action
						td Assassin
						td Assassinate
						td -3 Cash, force a player to discard
						td
					tr.card-type-3.special-action
						td Captain
						td Steal
						td +2 Cash, someone else -2 Cash
						td Block: Steal
					tr.card-type-4.special-action
						td Contessa
						td 
						td 
						td Block: Assassinate
					tr.card-type-5.special-action
						td Duke
						td Tax
						td +3 Cash
						td Block: Foreign Aid
			h3 Log
			div#log

		script(type='text/javascript').
			$(document).on('ready', function(){
				coup();
			});