html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/redirect.js')
		script(src='/game.js')
	body
		input(type='hidden', value=id)#game-id
		h1 COUP
		h3=name
		p Players
		table
			tr
				th name
				th cash
				th num cards
				th discard
			div#players
		div
			button.cash-add(value='-7') -7
			button.cash-add(value='-3') -3
			button.cash-add(value='-1') -1
			button.cash-add(value='1') +1
			button.cash-add(value='2') +2
			button.cash-add(value='3') +3
		button#draw Draw
		div#hand
		div
			| this will be the cheatsheet
		div#log