html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/redirect.js')

		meta(name="viewport", content="width=device-width, initial-scale=1")
	body
		h1 COUP
		h3 Game Lobby
		p
			| Welcome,
			span#user-name
		p Choose from an existing games or create
		for game in games
			p
				a(href=('/game/'+game.id), id=game.id)=game.name
		input(type='text')#game-name
		button#create-game Create game
		script(type='text/javascript').
			$(document).on('ready', function(){
				$('#create-game').on('click', function(e){
					var game_name = $('#game-name').val();
					$.ajax({
						url: '/game/create',
						type: 'POST',
						data: {
							'game_name': game_name,
						}
					}).done(function(data){				
						window.location.href = '/game/' + data.game_id;
					});
				});
			});