html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	body
		h1 POUP
		div#butts(data-test=test_number)
		button#inc Fart
		script(type='text/javascript').
			$(document).on('ready', function(){
				var host = location.origin.replace(/^http/, 'ws')
				console.log('host: ' + host)
				var ws = new WebSocket(host);
				var test_number = $('#butts').data('test');

				// butts
				$('#inc').on('click', function(e){
					var data = {
						test_number: test_number,
					};
					var j = JSON.stringify(data);
					ws.send(j);
				});
				ws.onmessage = function (event) {
					$('#butts').append('<p>' + event.data + '</p>');
				}
			});