html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/nav.js')
	body
		h1 COUP
		div#container
			h3 Welcome!
			p Enter your name to begin:
			input(type='text')#user-name
			button#lobby Go To Lobby
