html
	head
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
		script(src='/nav.js')
	body
		h1 COUP
		h3 Welcome!
		p Enter your name to begin:
		input(type='text')#user-name
		button#lobby Go To Lobby
		script(type='text/javascript').
			$(document).on('ready', function(){
				$('#lobby').on('click', function(e){
					var user_name = $('#user-name').val();
					$.ajax({
						url: '/user/create',
						type: 'POST',
						data: {
							'user_name': user_name,
						}
					}).done(function(data){
						$.cookie("user_id", data.user_id, { expires : 1 });
						$.cookie("user_name", user_name, { expires : 1 });
						window.location.href = '/'
					});
				});
			});
