.basic-action {
	background-color: white;
}
.special-action {
	background-color: #eeeeee;
}
.has-card.card-type-1, .card-in-hand.card-type-1{
	/* Ambassador */
	background-color: rgb(247, 247, 136);
}
.has-card.card-type-2, .card-in-hand.card-type-2{
	/* Assassin */
	background-color: #444;
	color: white;
}
.has-card.card-type-3, .card-in-hand.card-type-3{
	/* Captain */
	background-color: lightblue;
}
.has-card.card-type-4, .card-in-hand.card-type-4{
	/* Contessa */
	background-color: lightcoral;
}
.has-card.card-type-5, .card-in-hand.card-type-5{
	/* Duke */
	background-color: plum;
}
.current-player{
	background-color: rgb(167, 248, 170);
}
.card-in-hand{
	font-size: 16pt;
}
.bordered-left{
	border-left: 1px solid #eee;
}
.admin{
	color: red;
}